<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/foro" routerDirection="back">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    Comentarios
  </div>
  <div *ngFor="let comentario of comments">
    <ion-item lines="none">
      <ion-label>
        <h6>{{comentario.autor}}</h6>
        <ion-note>{{comentario.fecha.seconds*1000 | date: 'medium'}}</ion-note>
      </ion-label>
    </ion-item>
    <ion-card-content>
      {{comentario.coment}}
    </ion-card-content>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label position="floating">Escribe algo...</ion-label>
    <ion-textarea [(ngModel)]="comment"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="createComments()">
        <ion-icon color="success" slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>