// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
}

// Removing Android Header Line
.header-md::after {
    background: none !important;
}

.header {
    text-align: center;
    font-size: 25px !important;
}

ion-label {
    --color: #A6A6A6 !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
}