<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Bienvenido a</h1>
      <div class="title">TWIST</div>
      <h3>¡Disfruta y actívate jugando!</h3>
    </div>
    <img class="logo" src="../../../assets/images/gam.png">
    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/register">Crear una cuenta</ion-button>
    </div>
  </div>
</ion-content>
