<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/home" routerDirection="back">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    Consejos
  </div>
  <ion-card>
    <ion-img class="img" src="../../assets/images/act.png"></ion-img>
    <ion-card-content>
      <ion-card-title class="titlecard">Mantente activo</ion-card-title>
      <p class="content">Realizar actividad física moderada de forma constante
        favorecerá tu movilidad. Los paseos a diario son una de las
        mejores actividades para ello, ¡anímate!
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img class="img" src="../../assets/images/b-al.png"></ion-img>
    <ion-card-content>
      <ion-card-title class="titlecard">Aliméntate bien</ion-card-title>
      <p class="content">Una alimentación saludable es fundamental en cualquier
        etapa de nuestra vida. Las frutas y las verduras serán tus  
        mejores aliados.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img class="img" src="../../assets/images/ment1.png"></ion-img>
    <ion-card-content>
      <ion-card-title class="titlecard">Cuida tu mente</ion-card-title>
      <p class="content">Además de mantener el cuerpo también debe conservarse
        la mente. Realizar tareas como leer y aprender te ayudarán
        a tener una mente joven.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img class="img" src="../../assets/images/rel2.png"></ion-img>
    <ion-card-content>
      <ion-card-title class="titlecard">Mantén tus relaciones sociales</ion-card-title>
      <p class="content">Salir de casa, relacionarse, informarse, conocer cosas y
        personas nuevas. Es el momento perfecto para disfrutar de la
        familia y amigos, ¡ten una actitud positiva!
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img class="img" src="../../assets/images/ocu.png"></ion-img>
    <ion-card-content>
      <ion-card-title class="titlecard">Ten una ocupación</ion-card-title>
      <p class="content">No pierdas nunca la curiosidad. Anímate a realizar alguna actividad
        en casa o asistir a algún taller donde puedas aprender
        nuevas cosas.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
