// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
}

// Removing Android Header Line
.header-md::after {
    background: none !important;
}

.h5p-game {
    padding-right: 15px;
    padding-left: 15px;
}

.results {
    margin-top: 30px;
    text-align: center;
    font-size: large;

    .points {
        font-weight: bold;

        ion-chip {
            --background: rgba(100, 182, 255, 1);;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
    }    
}